<html>
<body>
{{ hword}}, {{hits}} träffar ({{hitlist}})
  <ul>
  {% for (word, wordclass) in words %}
    {% if data[word] %}
      <li>
      <a class="{{wordclass}}">{{word}}</a>
        <ul>
        {% for _id, hit in data[word] %}
          <li class="padd2">
          <div class="ellipsis" data-word="{{word}}">
            <b>{{hit['lexiconName'][0].upper()}}{{hit['lexiconName'][1:].replace('oe', '\xf6').replace('-', ' ')}}</b>
            <b><i>{{hit['pos']}}</i></b>
            {% if hit['pre'] %}
              <span class="ellipsis_pre" style="display: block"> {{hit['pre'] }}</span>
              <span class="ellipsis_header">
                <span class="fadeout"> ... </span>
              </span>
            <span class="ellipsis_content replace_target"> {{hit['text'] }}</span>
            {% else %}
              <span class="replace_target"> {{hit['text'] }}</span>
            {% endif %}
          </div>
          </li>
        {% endfor %}
      </ul>
    </li>
   {% endif %}
  {% endfor %}
</ul>

</body>
</html>
