<html>
<style>
  body {
     color : grey;
     line-height : 1.5em ;
     font-family : verdana,arial,helvetica;
     max-width : 1000px;
     font-family: 'Muli', sans-serif;
     padding: 20px;
     }

  a { color : black; text-decoration:none; }
  a:hover { color : blue; }
  a.highlight {background-color: yellow; }
  a.underline {text-decoration: underline; }

</style>

<head>
    <link href="https://fonts.googleapis.com/css?family=Muli:600" rel="stylesheet">
</head>

<body>
{{text | safe }}
</body>
    </html>
