<html>
<body>
{{ hword}}, {{hits}} träffar ({{'/'.join(data.keys())}})
  <ul>
  {% for (word, wordclass) in words %}
    {% if data[word] %}
      <li>
      <a class="{{wordclass}}">{{word}}</a>
        <ul>
        {% for hit in data[word] %}
          <li>
          <div class="ellipsis">
            <b>{{hit['lexiconName'].title().replace('oe', '\xf6').replace('-', ' ')}}</b>
            <b><i>{{hit['pos']}}</i></b>
            {% if hit['pre'] %}
              <span class="ellipsis_pre" style="display: block"> {{hit['pre'] }}</span>
              <span class="ellipsis_header">
                <span class="fadeout"> ... </span>
              </span>
            <span class="ellipsis_content"> {{hit['text'] }}</span>
            {% else %}
              <span> {{hit['text'] }}</span>
            {% endif %}
          </div>
          </li>
        {% endfor %}
      </ul>
    </li>
   {% endif %}
  {% endfor %}
</ul>

</body>
</html>
